apiVersion: "kubeadm.k8s.io/v1beta2"
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
      - "{{ host }}"
    peerCertSANs:
      - "{{ host }}"
    extraArgs:
        initial-cluster: {{ cluster }}
        initial-cluster-state: new
        name: {{ name }}
        listen-peer-urls: https://{{ host }}:2380
        listen-client-urls: https://{{ host }}:2379
        advertise-client-urls: https://{{ host }}:2379
        initial-advertise-peer-urls: https://{{ host }}:2380
